<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.solution.idealz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity android:name=".Dashbord.ui.AadhaarActivity"></activity>
        <activity android:name=".Dashbord.ui.VoterActivity"></activity>
        <activity android:name=".Dashbord.ui.BusActivity"></activity>
        <activity android:name=".Dashbord.ui.AgricultureActivity"></activity>
        <activity android:name=".Dashbord.ui.TrainActivity"></activity>
        <activity android:name=".Dashbord.ui.GovtjobActivity"></activity>
        <activity android:name=".Dashbord.ui.DigitalLockerActivity"></activity>
        <activity android:name=".Dashbord.ui.CourierTruckActivity"></activity>
        <activity android:name=".Dashbord.ui.YojnaActivity"></activity>
        <activity android:name=".Dashbord.ui.HelpLineActivity"></activity>
        <activity android:name=".Dashbord.ui.GovtLinkActivity"></activity>
        <activity android:name=".Dashbord.ui.NetBankingActivity"></activity>
        <activity android:name=".Dashbord.ui.LpgActivity"></activity>
        <activity android:name=".Dashbord.ui.IndaneGasActivity"></activity>
        <activity android:name=".Dashbord.ui.BharatGasActivity"></activity>
        <activity android:name=".Dashbord.ui.HPGasActivity"></activity>
        <activity android:name=".Dashbord.ui.DrivingLicenceActivity"></activity>
        <activity android:name=".Dashbord.ui.RationCardActivity"></activity>
        <activity android:name=".Dashbord.ui.PanActivity"></activity>
        <activity android:name=".Dashbord.ui.PfActivity"></activity>
        <activity android:name=".Dashbord.ui.PostalActivity"></activity>
        <activity android:name=".Dashbord.ui.PostalMailActivity"></activity>
        <activity android:name=".Dashbord.ui.PostalBankingActivity"></activity>
        <activity android:name=".Dashbord.ui.PassportActivity"></activity>
        <activity android:name=".Dashbord.ui.AadhaarEnrolmentActivity"></activity>
        <activity android:name=".Dashbord.ui.AadhaarUpdateActivity"></activity>
        <activity android:name=".Dashbord.ui.AadhaarServiceActivity"></activity>
        <activity android:name=".Dashbord.ui.WebViewActivity" />
         <activity android:name=".Dashbord.ui.MainActivity" />
         <activity android:name=".Splash.ui.Splash">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>