<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.solution.idealz">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".Dashbord.ui.DetailsActivity"></activity>
        <activity android:name=".Dashbord.ui.AadhaarActivity" />
        <activity android:name=".Dashbord.ui.VoterActivity" />
        <activity android:name=".Dashbord.ui.BusActivity" />
        <activity android:name=".Dashbord.ui.AgricultureActivity" />
        <activity android:name=".Dashbord.ui.TrainActivity" />
        <activity android:name=".Dashbord.ui.GovtjobActivity" />
        <activity android:name=".Dashbord.ui.DigitalLockerActivity" />
        <activity android:name=".Dashbord.ui.CourierTruckActivity" />
        <activity android:name=".Dashbord.ui.YojnaActivity" />
        <activity android:name=".Dashbord.ui.HelpLineActivity" />
        <activity android:name=".Dashbord.ui.GovtLinkActivity" />
        <activity android:name=".Dashbord.ui.NetBankingActivity" />
        <activity android:name=".Dashbord.ui.LpgActivity" />
        <activity android:name=".Dashbord.ui.IndaneGasActivity" />
        <activity android:name=".Dashbord.ui.BharatGasActivity" />
        <activity android:name=".Dashbord.ui.HPGasActivity" />
        <activity android:name=".Dashbord.ui.DrivingLicenceActivity" />
        <activity android:name=".Dashbord.ui.RationCardActivity" />
        <activity android:name=".Dashbord.ui.PanActivity" />
        <activity android:name=".Dashbord.ui.PfActivity" />
        <activity android:name=".Dashbord.ui.PostalActivity" />
        <activity android:name=".Dashbord.ui.PostalMailActivity" />
        <activity android:name=".Dashbord.ui.PostalBankingActivity" />
        <activity android:name=".Dashbord.ui.PassportActivity" />
        <activity android:name=".Dashbord.ui.AadhaarEnrolmentActivity" />
        <activity android:name=".Dashbord.ui.AadhaarUpdateActivity" />
        <activity android:name=".Dashbord.ui.AadhaarServiceActivity" />
        <activity android:name=".Dashbord.ui.WebViewActivity" />
        <activity android:name=".Dashbord.ui.MainActivity" />
        <activity android:name=".Splash.ui.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>